<ul id="points">
  <li>
    Loading...
  </li>
</ul>
<script type="text/javascript">
if (Modernizr.geolocation) {
  navigator.geolocation.getCurrentPosition(getPoints);
}

function getPoints(position)
{
  
  $.getJSON('/category/points_json/<%= params[:id] %>', { 'lat': position.coords.latitude, 'long': position.coords.longitude }, function(data){
    $('ul#points').html('');
    for (var i=0; i<data.length; i++)
      $('ul#points').append('<li><a href="/entry/view/' + data[i]['title'] + '">' + data[i]['title'] + '</a></li>');
  });
}
</script>