<h1><%= @item[:title] %></h1>
<h2>Category &gt; Subcategory</h2>

<div id="compass"></div>

<script type="text/javascript">
window.addEventListener("deviceorientation", function(event) {
  $('#compass').html(Math.round(event.alpha));
}, true);
</script>