<!DOCTYPE html>
<html>
<head>
  <title>Htgt11</title>
  <%= stylesheet_link_tag :all %>
  <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
  <script src="/javascripts/modernizr.js" type="text/javascript" charset="utf-8"></script>
  <%= csrf_meta_tag %>
</head>
  <body>
    <%= yield %>
  </body>
</html>
